.App {
  text-align: center;
  background-color: #869cc9;
  color:white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #87a2da;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color:rgb(255, 255, 255);
}
#main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  background-color:rgb(236, 154, 46);

}
.main-block{
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #b43093;
}
button{
  border-radius: 8px;
  height: 30px;
}

.check{
  display: flex;
  ju
}